.index{
    background-color: bisque;
}
.title{
    font-size: xx-large;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.texto{
    text-align: center;
    text-align: justify;
    font-size: xx-large;
}
.video{
    justify-content: space-between;
}
.breadcrumb{
    font-size: larger;
}
.form{
    text-align: center;
    padding: auto;
    margin-top: auto;
}